.footer {
    background-color: #222;
    height: calc(100vh - 100px);
    box-shadow: $box-shadow;

    @include flex(flex-start, flex-start);

    &__item {
        @include flex(flex-start, flex-start);

        img {
            width: 500px;
            height: calc(100vh - 100px);
        }

        &__card {
            flex: 1;
            padding: 0 20px;
            color: #d3d3d3;

            &__motton {
                margin-top: 2rem;
                text-transform: uppercase;
                color: #d3d3d3;
                font-size: 2.3rem;
            }

            &__title {
                margin: 1.5rem 0;
                font-size: 1.8rem;
                text-transform: uppercase;
                color: #b7903c;
            }

            &__text {
                margin-bottom: 20px;
                line-height: 2rem;
                font-size: 1.3rem;
            }

            &__icons {
                display: flex;
        
                &__icon {
                    display: inherit;
                    padding-right: 25px;
                    font-size: 1.6rem;

                    &:hover {
                        color: $main-color;
                    }
                }
            }
        }
    }

}