.productcard {
    // padding: 20px 40px;
    margin: 1rem;
    width: 21%;
    min-height: 400px;
    height: auto;
    border: #f1ba71 dotted;
    border-radius: 5px;
    flex-direction: column;

    @include flex(center, flex-start);

    &:hover {
        background-color: #ffebd2;
        border: none;
        min-height: 360px;
        cursor: pointer;

        .productcard__image {
            background-color: #ff9c1a;
        }
    }

    &__image {
        width: 100%;
        height: 65%;
        border-radius: 0 0 50% 50%;
        background-color: #ffdbac;
        flex-direction: column;

        @include flex(center, center);

        img {
            width: 55%;
            margin: 20px 0 30px 0;
        }

        &__button {
            width: 150px;
            height: 40px;
            background-color: #000;
            color: #fff;
            border-radius: 50px;
            font-weight: 500;
            font-size: 15px;

            @include flex(center, center);

            &:hover {
                background-color: #ff0000;
                color: #fff;
            }
        }
    }

    &__title {
        margin: 10px 0;
        font-size: 20px;
        font-weight: 600;
    }

    &__discription {
        text-align: center;
        padding: 10px 20px;
        font-size: 14px;
        color: #444;
    }

    &__price {
        margin: 10px 0;
        font-size: 20px;
        font-weight: 500;
        color: #e07f00;
    }
}